{% extends 'base.html' %}
{% block content %}
<div class="aboutme_buttons">
<div class="Linkedin Link">
    <a href="https://www.linkedin.com/in/johnnam1/">
        <span class="button">
            <i class="fa-brands fa-linkedin"></i> Link to Linkedin
        </span>
    </a> </br></br>
    <div class="resume">
        <a href="https://docs.google.com/document/d/1AcRJet26q4jPzrFV3JeKUJP1Cr1M5nbI/edit?usp=sharing&ouid=103488331271853740572&rtpof=true&sd=true">
            <span class="button">
            <i class="fa-solid fa-file"></i> Link to Google Doc
            </span>
        </a> </br></br>
        <image src="https://github.com/Tiranoe/Portfolio/blob/main/assets/John%20Nam%20Portfolio.png?raw=true">
    </div>
</div>
</div>
{% endblock %}