{% extends 'base.html' %}
{% comment %}{% endcomment %}
{% block title %}Project List{% endblock  %}
{% block content %}

<h1 class="title pt-5">Projects</h1>
<div class="gallery">
  {% for project in projects %}
  <a href="{% url 'project_detail' project.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-rectangle">
          <img src="{{project.img}}" alt="{{project.name}}"/>
        </figure>
      </div>
      <div class="card-header">
        <h2 class="card-header-title">{{project.name}}</p>
      </div>
      <div class="live_link">
        <a href="{{project.github}}">
          <span class="icon">
            <i class="fa-brands fa-square-github fa-4x"></i>
          </span>
        </a>
        </br></br></br></br>
        <a href="{{project.live}}">
          <span class="icon">
            <i class="fa-solid fa-globe fa-4x"></i>           
          </span>
        </a>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}